.vscode
node_modules

shared/src/level/bgm.mp3

.dev
dist
shared/src/level/data/*.sus
shared/src/level/data/*.mmws
shared/src/level/data/*.chs
shared/src/level/data/*.json
!src/level/data/expert.json

